@charset "utf-8";

* {padding:0; margin:0;}
li {list-style-type: none;}
a {text-decoration: none;}

div.hover h1 {
    border-bottom: 1px solid #ccc;
    padding: 10px 0 10px;
}

ul li {
    float:left;
    padding: 0 20px;
    color:blue;
    border:2px solid orange;
}

ul li:hover a {color:green;}
ul li a:hover {color: red;}

div.image {
    width:750px; height:422px;
    border:5px solid blue;
    margin-top: 50px;
}

div.image:hover {
    background-image: url(../logo.png);
}