/*reset*/
@charset "utf-8";


/*common*/
*{margin: 0; padding: 0;}
ul ol li{list-style: none;}
a{text-decoration: none;}
img{vertical-align: top; border: 0;}
body{font: 12px/1.6 1rial; color: #555;}

div{width: 200px; height: 200px;
margin: 150px 50px;
    border: 1px solid black;
    float: left;
}


div p{
 width: 100%;
 height: 100%;
 background: blue;
 opacity: 0.3;
transform: rotateY(50deg);
}

div:nth-child(1){perspective:150px ;}

div:nth-child(3){perspective:800px ;}