@charset "utf-8";

/* 공통 영역*/
* {margin: 0;padding: 0;}
li {list-style:none;}
a {text-decoration:none;}


/* header 영역*/
#header {
    width:800px; 
    height:200px;
    background-color: #a2d078;
    margin: 0 auto;
}

#content {
    /* position: relative; */
    width:800px;
    /* height:700px; */
    background-color:yellow;
    margin: 10px auto;
}

#footer {
    clear:both;
    width:800px;
    height:200px;
    background-color: blue;
    margin: 0 auto;
}
/* content 영역*/

/* after 가상요소 */
#content::after {
    content:"";
    display:block;
    clear:both;
}

/* left_col 영역 */
#content > #left_col {
    float:left;
    width:200px;
    height:700px;
    background-color: blueviolet;
}

/* right_col 영역 */
#content > #right_col {
    float: right;
    width:550px;
    height:700px;
    background-color: red;
    /* left: 250px; */
}


/* footer 영역*/