@charset "uft-8";


/* reset */
* {padding:0; margin:0;}
li {list-style-type: none;}
a {outline:0; text-decoration: none; color:blue;}
img {vertical-align:top; border:0;}

/* common */

body {
    font:12px/1.6 arial; color:#555;
    background-color:rgb(198, 225, 233);
}

div#wrap {
    width:100%;
    margin:0 auto;
    text-align:center;
}
