@charset "uft-8";


body {
    background-color:#dfebf4;
    box-sizing: border-box;
    font-family: Cambria, Georgia, serif;
}

h1 {
    text-align : center;
    margin:60px 0 ;
    font-size:40px;
}

ul.dessert {
    width:1000px;
    margin:0 auto;
    text-align:center;
}

ul.dessert li {
    width:220px; height:220px;
    display:inline-block;
    margin:20px;
}

div.macaron {
    background-image:url(../images/image_01.jpg);
    width:100%; height:100%;
    border-radius:50%;
    box-shadow:0 0 0 16px rgba(255, 255, 255, 0.6) inset,
     0 1px 2px rgba(0, 0, 0, 0.2),
     0 0 0 rgba(200, 95, 66, 9.4) inset;
     transition: all 0.4s ease-in-out;
     position:relative;
}

div.macaron:hover {
    box-shadow:0 0 0 16px rgba(255, 255, 255, 0.6) inset,
     0 1px 2px rgba(0, 0, 0, 0.2),
     0 0 0 110px rgba(200, 95, 66, 0.4) inset;
}

ul.dessert li:nth-child(2) div.macaron {
    background-image: url(../images/image_02.jpg);
}

ul.dessert li:nth-child(3) div.macaron {
    background-image: url(../images/image_03.jpg);
}

ul.dessert li:nth-child(4) div.macaron {
    background-image: url(../images/image_04.jpg);
}

ul.dessert li:nth-child(5) div.macaron {
    background-image: url(../images/image_05.jpg);
}

ul.dessert li:nth-child(6) div.macaron {
    background-image: url(../images/image_06.jpg);
}

div.macaron > div.info {
    position:absolute;
    width:100%; height:100%;
    border-radius:50%;
    transition: all 0.4s ease-in-out 0.1s;
}

div.info > h2 {
    color:#fff;
    text-transform:uppercase;
    font-size: 22px;
    margin:65px 30px 20px;
    text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
}
div.info > p {
    color:#fff;
    padding:10px 5px;
    margin:0 30px;
    font-size:12px;
    border-top:1px solid #eee;
}

div.info {
    transform:scale(0);
    opacity:0;
}

div.macaron:hover div.info {
    transform:scale(1);
    opacity:1;
}