@charset "utf-8";
*{margin: 0; padding: 0;}
li{list-style-type: none;}
a{text-decoration: none;}

h1{
    text-align: center;
    margin-top: 30px;
}

div.gnb{
    width: 1000px; height: 40px;
    background-color: red;
    border: 1px solid blue;
    margin: 20px auto;
}


div.gnb ul.menu li {float: left;}

div.gnb ul.menu a{
    display:block;
    width: 120px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    color: #555;
    font-weight: bold;
}

ul.sub{
    background-color: #319635;
    display: none;
}
div.gnb ul.sub li{float: none; }
div.gnb ul.sub li a{ color: white;}
ul.menu li:hover ul.sub{ display: block;}