/*reset*/
@charset "utf-8";

*{margin: 0; padding: 0;}
ul, ol, li{list-style: none;}
a{text-decoration: none;}
img{vertical-align: top; border: 0;}
/*common*/
body{font: 12px/1.6 arial; color: #555;}


p{
    font-size: 100px;
    font-family: 'Monoton', cursive;
}

/*https://fonts.google.com/*/
/*https://fonts.google.com/earlyaccess*/