@charset "UTF-8";


nav {

    width: 230px;
    float: left;
    z-index: 0;
    margin-top: 90px;

}

nav h1{

    text-align: center;
    margin-bottom: 30px;
   

}

nav ul li{

    width: 230px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 1px solid #2a2a2a ;
  
    background-color: white;
    

}



nav ul li:nth-child(3){

    font-weight: normal;
    
    border-top: 5px solid#2a2a2a;
    background-color: #8b6d49;
    z-index: 0;


}

nav ul li a{

    font-weight: normal;
    color: #2a2a2a;
}



button{
	width: 100px;
    height: 30px;
   	margin-top: 100px;
	
}



input[name='freqbox']{
	
	
	width:990px;
	
	

}

div#wrap{

    clear: both;




}


article{

    width: 500px;
    margin:18px;
    float: right;


}
	
textarea{
	
	width: 500px;
    height: 500px;
}	
	
input[type='text']{
	
	width: 500px;
    height: 30px;
	
}	

select{
	width:130px;
	height: 30px;
	
}	
	
	
