@charset "utf-8";

div#all-wrap{
    width: 1500px;
    height: 1500px;


}

div#content-wrap{
    padding-top: 137px;
    width: 1300px;
    height: auto;
    margin: 0 auto;
    display: inline-block;
   
}

div#location-box{

    width: 1470px;
    height: 43px;
    background-color: #2a2a2a;
    display: inline-block;
    position: fixed;
    z-index: -1;
}

ul.location{

    
    float: left;
    box-sizing: border-box;
    padding:0 10px 0 10px;
    border-right: 1px solid white;
    background-color: #2a2a2a;
    z-index: 1000;
    
    
}

ul.location:not(#main){

    width: 242px;
}

ul.location li{

    
    box-sizing: border-box;
    padding:10px 0 10px 0;
    border-bottom: 1px solid white;
    z-index: 1000;
    
    
   
}

ul.location li:not(.location-main){

    display: none;
    
   
}

ul.location li a{

    
    color:white;
   
}


ul#main{

    padding: initial;

}
li#home{

    padding: initial;

}


nav {

    width: 230px;
    float: left;
    z-index: 0;
    margin-top: 50px;

}

nav h1{

    text-align: center;
    margin-bottom: 30px;
   

}

nav ul li{

    width: 230px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 1px solid #2a2a2a ;
  
    background-color: white;
    

}



nav ul li:nth-child(2){

    font-weight: normal;
    
    border-top: 5px solid#2a2a2a;
    background-color: #8b6d49;
    z-index: 0;


}

nav ul li a{

    font-weight: normal;
    color: #2a2a2a;
}



section{

    width: 78%;
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}


section h2{

    margin-bottom: 30px;
}

section h3{

    text-align: center;
}

section article{
    border: 1px solid #2a2a2a;
    width: 97%;
    
}

div.login-window{
    width: 340px;
    height: 467px;
    margin: 0 auto;
    
}

div.login-window > img{

    margin-bottom: 40px;
    
}

input.login-input{

    width: 342px;
    height: 45px;
    margin:20px 0;

}

input[type=checkbox]{


    margin-right: 5px;
}
