@charset "utf-8";

/*로그인*/

div#all-wrap{
    width: 1500px;
    height: 1500px;


}

div#content-wrap{
    padding-top: 137px;
    width: 1300px;
    height: auto;
    margin: 20px auto;
    display: inline-block;
    
}




nav {

    width: 230px;
    float: left;
    z-index: 0;
    margin-top: 90px;

}

nav h1{

    text-align: center;
    margin-bottom: 30px;
   

}

nav ul li{

    width: 230px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 1px solid #2a2a2a ;
  
    background-color: white;
    

}



nav ul li:nth-child(3){

    font-weight: normal;
    
    border-top: 5px solid#2a2a2a;
    background-color: #8b6d49;
    z-index: 0;


}

nav ul li a{

    font-weight: normal;
    color: #2a2a2a;
}



section{

    width: 78%;
    float: left;
    margin-top: 90px;
    margin-left: 50px;
    overflow: hidden;
}


section h2{

    margin-bottom: 30px;
}

section h3{

    text-align: center;
}

section h4{
    text-align: center;
}

section article.join-choice-manner{
    border: 1px solid #2a2a2a;
    width: 45%;
    float: left;
    margin: 20px;
    
    
    
}

section article.join-choice-manner img#mail-img {
    width: 122px;
    
    
    
}

section article:nth-of-type(1) img{

    margin-left: 20px;
}


div.btns{

    width: 200px;
    height: 50px;
    background-color: #2a2a2a;
    margin: 40px auto;
    box-sizing: border-box;
    padding: 13px 23px;
}

div.btns a{

    color: white;
    padding: 10px 17px 10px 28px;
}

