@charset "UTF-8";

/* ------공통------- */
* {margin : 0; padding : 0;
color:white;}
li {list-style: none;}
a {text-decoration: none;}


/* ----------- wrap 영역----------- */
#wrap{
    width:1000px;
    background-color: silver;
    position:relative;
    margin : 0 auto;
}

/* ----------- header 영역----------- */
#header{
    width:100%; height:200px;
    background-color: gray;
    margin-bottom: 10px;
    position:relative;
}


/* ----------- header > main 영역----------- */
#header > #main{
    width:100%; height:130px;
    background-color: skyblue;
    position: relative;
}


#header > #main > #lnb{
    float:right;
    width:200px; height:40px;
    margin-top:10px;
    margin-right:10px;
    background-color: orange;
}
#header > #main > #logo{
    width:700px; height:40px;
    margin-top:10px;
    margin-right:10px;
    background-color: orange;
    position: absolute;
    left:150px; bottom:10px;
}


/* ----------- header > navi 영역----------- */

#header > #navi{
    width:100%;
    height:60px;
    background-color: skyblue;
    position: absolute;
    left:0; bottom:0;
    
}

#header > #navi > #menu{
    width:900px;
    height:35px;
    /* background-color:yellowgreen; */
    margin:12px auto;
    
}
#header > #navi > #menu > li{
    float:left;
    width:210px;height:100%;
    margin-right:20px;
    background-color: yellow;
    text-align: center;
}

#header > #navi > #menu > li:last-child{
    margin-right: 0px;
    
}

#header > #navi > #menu > li > a{
    display: block;
    background-color: orange;
    width:100%; height:100%;
    line-height: 35px;   
    color: white;
}
#header > #navi > #menu > li > a:hover{
    background-color: white;
    color:black;
}




/* ----------- content 영역----------- */


#content{
    background-color: gray;
    width:100%; 
    margin:10px 0;
    /* content 가변적인 세로 길이 */
    overflow: hidden;
}


/* ---------content > #left_col 영역----------- */
#content > #left_col{
    float:left;
    width:300px;
    margin:10px;
    background-color: skyblue;
    
}

#content > #left_col > #left_1{
    margin-bottom:10px; 
    width:100%; height:120px;
    background-color:orange;
}

#content > #left_col > #left_2{
    margin-top:10px;
    background-color:orange;
    width:100%; height:250px;
}

/* ---------content > #right_col 영역----------- */
#content > #right_col{
    float:left;
    width:670px;
    margin:10px 10px 10px 0;
    background-color: skyblue;
}

#content > #right_col > #right_1{
    width:100%; height:250px;
    background-color: orange;
    margin-bottom:10px;
}

#content > #right_col > #right_2{
    width:100%; height:120px;
    background-color: orange;
}


/* ----------- footer 영역----------- */

#footer{
    margin-top:10px;
    width:100%; height:50px;
    background-color: skyblue;}