/*reset*/
@charset "utf-8";


*{margin: 0; padding: 0;}
ul, ol, li{list-style: none;}
a{text-decoration: none;}
img{vertical-align: top; border: 0;}

/*common*/
body{font: 12px/1.6 1rial; color: #555;}

div#header {
    width: 100%; height:60px;
    background-color:#d88e8e;
}
div.wrapper {
    width: 1100px; height: 60px;
    background-color: #d8bd8e;
    margin:0 auto;
    position: relative;
}
div.wrapper > ul.left-menu {
    position: absolute;
    left: 0; top: 0;
    width: 400px; height: 60px;
    background-color: red;
    color:white;
}
div.wrapper ul li {
    position: absolute;
    width: 200px; height: 60px;
    text-align: center;
    line-height: 60px;
}
div.wrapper ul li:first-child {
    left: 0; top: 0;
}
div.wrapper ul li:last-child {
    right: 0; top: 0;
}    
div.wrapper > ul.right-menu {
    position: absolute;
    right: 0; top: 0;
    width: 400px; height: 60px;
    background-color: blue;
    color:white;
}


/*
div.wrapper > ul.left-menu { float: left; }
div.wrapper > ul.right-menu { float: right; }
div.wrapper ul {
    background-color: #c9d88e;
}
div.wrapper ul li {
    float:left;
    line-height: 60px;
    /*text-align:center;
    padding: 0 20px;
} 
*/ /* clear fix 5. 자식요소가 플로트면 부모요소에도 플로트를 넣어라 */


img { vertical-align: top; }
div.image {
    margin-top: 10px;
    width: 360px;
    border: 10px solid red;
    background-color: yellow;
}
/* 이미지 삽입할때는 width만 정해주면 세로는 자동으로 지정되며, 이미지는 인라인 요소라 아래쪽에 쓰레기값이 생긴다. 이때 img { vertical-align: top; } 을 추가하면 쓰레기 값이 사라진다. */