/*로그인창*/


/*로그인 인풋*/
form#inputWrap> input#userLoginId{

    width: 400px;
    height: 50px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 10px 10px 10px;
    

}

form#inputWrap> input#userLoginPwd{
    width: 400px;
    height: 50px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 10px 0px 10px;
  
}


form#inputWrap button#loginBtn{
    
    width: 400px;
    height: 50px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-left: 10px;
    
}

/*자동 로그인*/


input#autoLogin[type=radio]{
    width: 400px;
    display: none;
    
    
    
    
}

input#autoLogin[type=radio] + label{
    background-image: url("../images/check01_off.png");
    background-repeat: no-repeat;
    padding-left: 30px;
    box-sizing: border-box;
    
}

    

input#autoLogin[type=radio]:checked + label{
    background-image: url("../images/check01_on.png");
    background-repeat: no-repeat;
    padding-left: 30px;
    box-sizing: border-box; 
}


/*페이지 이동*/

ul#registerListWrap > li{
    box-sizing: border-box;    
    padding-right:20px;
    padding-left: 20px;
    
}


ul#registerListWrap > li#idSerch{
    float: left;
    
}
ul#registerListWrap >li#pwdSerch{
    float: left;
    
}



ul#registerListWrap > li:last-child{
    border-right: none;
}

