/*reset*/
@charset "utf-8";
*{margin: 0; padding: 0;}
ul, ol, li{list-style: none;}
a{text-decoration: none; outline: 0;}
img{vertical-align: top;}

/*공통*/

body{ 
    font-size: 14; font-family: Arial, Helvetica, sans-serif;
    
}

