@charset "uft-8";

/* reset */
*{margin:0; padding:0;}
ol, ul, li {list-style:none;}
a {outline:0; text-decoration:none; color:#555;}
img {vertical-align:top; border:0;}

/*  common */
body {
    font:12px/1.6 arial;
    color:#555;
}

div {width:200px; height:200px; margin: 50px; float:left;}

div:nth-child(1) {background: linear-gradient(to right, blue, red);}
div:nth-child(2) {background: linear-gradient(to bottom, blue, red);}
div:nth-child(3) {background: linear-gradient(45deg, blue, red);}
div:nth-child(4) {background: radial-gradient(blue, red);}
