@charset "uft-8";

/* reset */
*{margin:0; padding:0;}
ol, ul, li {list-style:none;}
a {outline:0; text-decoration:none; color:#555;}
img {vertical-align:top; border:0;}

/*  common */
body {
    font:12px/1.6 arial;
    color:#555;
}

div {
    width:300px; height:300px;
    float:left;
    margin:50px;
    background-color: lightblue;
}

div:nth-child(1) {
    border-radius: 0px 10px 20px 40px;
}

div:nth-child(2) {
    border-radius: 50%;
}