h1{ 
    width: 100%;
    text-align: center;
    margin : 20px 0px;
    
}



section.clearFix{
    background-color: yellow;
    /*content: "";
    display: block;
    clear: both;
*/
}

/*
div.clear{
    clear: both;
}*/

.clearFix::after{
    content: "";
    display: block;
    clear: both;
}

ul{
    width: 960px;
    margin: 0 auto;
    /*background-color: red;*/
    overflow: hidden;

}

ul li {
    text-align: center;
    width: 240px;
    margin: 40px 0;
    float: left;
}

article{
    width:700px;
    margin: 20px auto;
    position: relative;
}

article aside#left{
    position: absolute;
    left: -220px; top: 0;
}

article aside#right{
    position: absolute;
    right: -220px; top: 0;
}

div.top{
    width: 50px;
    height: 50px;
    background-color: #c13333;
    right: 0;  top: 0;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    position: fixed;
    /*color: white; 안됨*/
}

a{ color: white; }

