@media screen and (orientation:portrait) {
    html {
        background-color:red;
        color:white;
    }
}

@media screen and (orientation:landscape) {
    html {
        background:green;
        color:white;
    }
}