@charset "utf-8";

/* --------------- agree 파트 --------------- */

 /* --------------- header --------------- */
div#wrap header#header {
    width: 768px; height:44px;
    position:relative;
    margin:0 auto;
    padding: 62px 0 59px;
    overflow: hidden;
}

#header h1 {
    width: 768px; height:44px;
    text-align:center;
}

#header h1 a {
    width:100%; height:44px;
    line-height:44px;
    font-size: 34px;
}

/* --------------- language --------------- */
div.lang {
    width:98px; height:30px;
    position:absolute;
    top:14px;
    right:0;
}

.lang > select.sel {
    width:100%; height:30px;
    padding: 6px 8px 5px 7px;
    border: 1px solid #ccc;
}


/* --------------- container --------------- */
#container {
    width:768px; height:670px;
    margin: 0 auto;
}

#container #content {
    width: 460px;
    margin:0 auto;
}

#content div.join_content {
    width:460px; height: 670px;
}

form#joinForm {
    width:460px; height: 637px;
}

form#joinForm > div.terms_p {
    width:460px; height:547px;
}

/* --------------- 이용약관 동의 --------------- */
p.terms_chk_all {
    width: 460px; height:42px;
    position:relative;
}

p.terms_chk_all > input#chkAll {
    float:left;
    width:24px; height: 24px;
    position:absolute;
    left: 4px; top:10px;
}

.terms_chk_all > label {
    text-decoration: underline;
    line-height:21px;
    font-size:14px;
    font-weight:700;
    padding-left:34px;
    display:block;
}

div.terms_p > ul.terms_bx_list {
    width: 460px; height:501px;
    margin-top: 4px;
}

ul.terms_bx_list > li.terms_bx {
    display:block;
    padding-top:30px;
    width:460px;
}

li.terms_bx#box1 {height:118px;}
li.terms_bx#box2 {height:123px;}
li.terms_bx#box3 {height:118px;}
li.terms_bx#box4 {height:22px;}

li.terms_bx span.input_chk {
    display:block;
    position:relative;
    width: 460px; height:22px;
}


.input_chk > label {
    position: relative;
    display: block;
    width: 100%;
    padding-left: 29px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    cursor: pointer;
    color: #333;
    box-sizing: border-box;
}

span.terms_necessary {
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    color: powderblue;
}

div.terms_box {
    position: relative;
    overflow: auto;
    height: 88px;
    margin-top: 8px;
    padding: 12px;
    border: 1px solid #dadada;
    background: #fff;
    box-sizing: border-box;
}

span.input_chk .chk {
    position: absolute;
    top: 50%;
    left: 1px;
    width: 18px;
    height: 18px;
    margin-top: -10px;
    outline: 0;
}

span.terms_choice {
    font-size: 12px;
    font-weight: 400;
    color: #8e8e8e;
}

/* --------------- 취소 동의 버튼 --------------- */
div.btn_area.double {
    margin: 29px -5px 0;
    width: 470px; height:61px;
} 

div.btn_area.double > span {
    display: block;
    float: left;
    width: 50%;
}

.btn_type {
    display: block;
    width: 100%;
    height:61px;
    padding: 21px 0 17px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    line-height: 23px;
}

div.btn_area > span a.btn_type {
    width: auto;
    margin: 0 5px;
}

span a.btn_default {
    color: #fff;
    background-color: #8e8e8e;
}

span a.btn_primary {
    color: #fff;
    background-color: powderblue;
} 

div.group_join {
    width:460px; height:14px;
    margin: 19px 0 8px;
    text-align: center;
    color: #666;
    font-size: 12px;
}

.btn_group_join {
    font-size:12px;
    text-decoration:underline;
}

/* --------------- footer 영역 --------------- */

footer#footer {
    width:768px; height: auto;
    padding: 30px 0 15px;
    margin: 0 auto;
}

#footer * {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #333;
}

#footer ul {
    width:460px; height:14px;
    margin: 0 auto 9px;
    display:table;
    text-align: center;
}

#footer ul li {
    width: auto; height:14px;
    box-sizing: border-box;
    padding:0 6px 0 7px;
    display:table-cell;
    position:relative;
}

#footer ul li a {
    width: 100%; height: 14px;
    line-height: 14px;
    font-size:12px;
}

#footer ul li a::before {
    content:"";
    height:8px;
    position:absolute;
    left:0; top:4px;
    border-left: 1px solid black; 
}

#footer ul li a#first::before {
    border-left: 0;
}