@charset "utf-8";
/* ------------------ 전체적인 틀 영역 ------------------  */
* {padding:0; margin:0;}
ol, ul, li {list-style-type: none;}
a {text-decoration: none; color:black; outline:none;}
body {background-color: white; font-family: 'Nanum Gothic', sans-serif;}
img {vertical-align:top; border:0;}
fieldset {border:none;}

/* ------------------ 숨김 박스 ------------------  */
.screen_out {
    position:absolute;
    width:1px; height:1px;
    overflow:hidden;
    margin: -1px;
    clip:rect(0 0 0 0);
}

/* ------------------  header 영역 ------------------  */
header {
    height:80px;
    border-bottom:1px solid #e8e8e8;
    background-color:white;
}

div#headerWrap {
    width:1100px;
    height:100%;
    position:relative;
    text-align:center;
    margin: 0 auto;
}
/* 헤더로고 영역 */
h1#logo {
    line-height: 80px;
    font-size:24px;
}

/* ------------------ layout content 영역 ------------------ */
div#loginContainer {
    height: auto;
    background-color:whitesmoke;
}

div#content {
    width:100%;
    padding: 80px 0 147px;
}
/* 메인 폼 타이틀 영역 */
.tit_register {
    padding-top: 44px;
    height:36px;
    font-weight: normal;
    font-size: 24px;
    color: #1e1e1e;
}

/* 메인폼 넓이 잡아주는 영역 */
form {
    width:auto;
    margin:0 auto;
}

/* 각 타이핑이 필요한 부분 */
.wrap_tf {
    width:100%; height:84px;
    margin-top:29px;

}

label.lab_write {
    display: inline-block;
    font-size: 16px;
    color: #000;
}

/* 각 타이핑박스 레이아웃 */
.box_tf {
    position: relative;
    width: 494px;
    margin-top: 10px;
    padding-right: 44px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    height:48px;
}

/* 최종 타이핑이 들어가는 영역 */
.tf_write {
    display: block;
    width: 100%;
    padding: 13px 0;
    height: 22px;
    font-size: 15px;
    line-height: 22px;
    color: #aaa;
    border: 0 none;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    background-color: transparent;
    -webkit-appearance: none;
}


/* 전송 버튼 */
.btn_follow {
    display: block;
    width: 620px;
    height: 63px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 67px;
    color: #333;
    background-color: powderblue;
    border:none;
}


/* ------------------ footer 영역 ------------------ */
footer {
    border-top:1px solid #e6e6e6;
    height: 150px;
    background-color:white;
}

/* 푸터렙 영역 */
footer > .footer_wrap {
    height: 38px;
    padding: 30px 0 15px;
    margin: 0 auto;
}

/* 푸터안에 들어가는 모든 요소 글자 스타일 */
.footer_wrap * {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #333;
}

/* 푸터 메뉴 라인 정리 */
.footer_wrap ul {
    width:620px; height:14px;
    margin: 0 auto 9px;
    display:table;
    text-align: center;
}

/* 각각 리스트&링크 정리 */
.footer_wrap ul li {
    width: auto; height:14px;
    box-sizing: border-box;
    padding:0 20px 0 21px;
    display:table-cell;
    position:relative;
}

.footer_wrap ul li a {
    width: 100%; height: 14px;
    line-height: 14px;
    font-size:12px;
}

.footer_wrap ul li a::before {
    content:"";
    height:8px;
    position:absolute;
    left:0; top:4px;
    border-left: 1px solid black; 
}

.footer_wrap ul li a#first::before {
    border-left: 0;
}

/* ------------------ address 영역 ------------------ */


address #copyright {
    width:580px; height:13px;
    margin:0 auto;
    line-height: 13px;
    padding-top: 10px;
    padding-bottom: 29px;
    font-size: 11px;
    text-align: center;
    color: gray;
}