@charset "utf-8";

/* ---------------- login 영역 ---------------- */

div.box_login_register {
    overflow: hidden;
    width: 540px; height: 444px;
    padding: 0 39px 44px;
    margin: 0 auto 20px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
}

/* 비밀번호가 5번 틀렸을 때 뜨는 디스플레이 */

.wrong_box {
    width : 620px;
    height: 177px;
    padding: 0 40px;
    background-color: #fffad6;
    box-sizing : border-box;
    border: 1px solid #ede5a9;
    display: none;
    margin: 0 auto 10px;
}

.tit_wrong_box {
    display: block;
    padding: 36px 0 32px;
    font-weight: normal;
    font-size: 24px;
    text-align : center;
    font-weight: 700;
}

.desc_wrong_box {
    margin-top: -20px;
    padding-bottom: 32px;
    font-size: 15px;
    line-height: 28px;
    text-align : center;
    
}

.desc_wrong_box > a {
    text-decoration : underline;
}

/* 로그인 폼 영역 하단 신규, 아이디&비밀번호 찾기 ul 부분 레이아웃 */
ul.list_info {
    width:100%;
    padding:54px 0 13px;
}

ul.list_info li {
    width:527px; height: 22px;
    position: relative;
    font-size: 14px;
    line-height:22px;
    padding: 3px 0 4px 13px;
}

.list_info li:before {
    position: absolute;
    top: 11px;
    left: 0;
    width: 3px;
    height: 3px;
    background-color: #000;
    content: '';
}

li a.link_info {
    padding-left: 2px;
    text-decoration: underline;
}




/* ---------------- pwe_find, id_find 영역 ---------------- */

.box_register {
    overflow: hidden;
    width: 540px;
    height: 201px;
    padding: 0 39px 44px;
    margin: 0 auto 20px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
}

/* 폼이 구성되는 레이아웃 전체적인 부분(로그인부분과 폼의 높이가 달라 따로 정의 */
div#idPwdContainer {
    height: 600px;
    background-color:whitesmoke;
}

/* 정보입력 박스 추가 설명 글(UI가 지저분해 보이면 생략가능) */
span.txt_assist {
    padding-left: 7px;
    font-size: 15px;
    color: #333;
}