<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">


   
<configuration>
	  <!--  <settings>
	  <setting name="cacheEnabled" value="true"/>
	  <setting name="lazyLoadingEnabled" value="true"/>
	  <setting name="multipleResultSetsEnabled" value="true"/>
	  <setting name="useColumnLabel" value="true"/>
	  <setting name="useGeneratedKeys" value="false"/>
	  <setting name="autoMappingBehavior" value="PARTIAL"/>
	  <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
	  <setting name="defaultExecutorType" value="SIMPLE"/>
	  <setting name="defaultStatementTimeout" value="25"/>
	  <setting name="defaultFetchSize" value="100"/>
	  <setting name="safeRowBoundsEnabled" value="false"/>
	  <setting name="mapUnderscoreToCamelCase" value="false"/>
	  <setting name="localCacheScope" value="SESSION"/>
	  <setting name="jdbcTypeForNull" value="OTHER"/>
	  <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
	</settings>
-->

      <typeAliases>
         <typeAlias alias="EmailDTO" type="kr.or.aci.email.domain.MailDTO"/>
         <typeAlias alias="AgreeDTO" type="kr.or.aci.agree.domain.AgreeDTO"/>
         <typeAlias alias="JoinDTO" type="kr.or.aci.join.domain.JoinDTO"/>
   		 <typeAlias alias="BoardDTO" type="kr.or.aci.board.domain.BoardDTO"/>
   		 <typeAlias alias="AdminDTO" type="kr.or.aci.admin.domain.AdminDTO"/>
   		 <typeAlias alias="FileDTO" type="kr.or.aci.upload.domain.FileDTO"/>
   		 <typeAlias alias="PageDTO" type="kr.or.aci.board.domain.PageDTO"/>
   		 
    </typeAliases>
	<mappers>
	
		
	</mappers>
	
	
</configuration>
