/*reset*/
@charset "utf-8";

*{margin: 0; padding: 0;}
ul, ol, li {list-style-type : none;}
a{text-decoration: none;}
img{vertical-align: top; border: 0;}
/*common*/
body{font: 12px/1.6 arial; color: #555;}





/*https://fontawesome.com/*/

ul li{
    float: left;
    margin: 20px;
}

ul li .fab{
    font-size: 50px;
    color: blue;
}