@charset "uft-8";

/* reset */
*{margin:0; padding:0;}
ol, ul, li {list-style:none;}
a {outline:0; text-decoration:none; color:#555;}
img {vertical-align:top; border:0;}

/*  common */
body {font:12px/1.5 arial;color:#555;}


div {
    width:300px; height:300px;
    margin:100px auto;
}

@media screen and (min-width:1024px) {
    div {background-color: darkmagenta;}
}

/* 가로 폭이 639px 이하일 때 */
@media screen and (max-width:639px) {
    div {background-color:red}
}

@media screen and (min-width:640px) and (max-width:1023px){
    div {background-color: darkseagreen;}
}