@charset "utf-8";

*{padding:0; margin:0;}
li {list-style-type: none;}
a {text-decoration: none;}

h1 {
    text-align:center;  
    margin-top: 30px;
}

div.gnb {
    width:1000px; height: 40px;
    background-color: #eee;
    border: 1px solid #ddd;
    margin: 20px auto;
}

div.gnb ul.menu li {float:left;}

div.gnb ul.menu a {
    display:block;
    width:120px;
    line-height: 40px;
    text-align:center;
    font-size:12px;
    color: #555;
    font-weight:bold;
}

ul.sub {
    background-color: #e19635;
    display:none;
}

div.gnb ul.sub li {float:none;}
div.gnb ul.sub li a {color: #fff;}
ul.menu li:hover ul.sub {
    display:block;
}






div.gnb ul.menu li {float:left;}

div.gnb ul.menu a {
    display:block;
    width:120px;
    line-height: 40px;
    text-align:center;
    font-size:12px;
    color: #555;
    font-weight:bold;
}

ul.sub_menu {
    background-color: #e19635;
    display:none;
}

ul.sub_menu li {float:none;}
ul.sub_menu li a {color: #fff;}
ul#headerMenu li:hover ul_menu.sub {
    display:block;
}