@charset "utf-8";
/* 공동부분!! */
div {
    height: 25px;
}

.clearFix {
    clear: both;
    height: 0;
}


/* 첫번째 테이블 내용!! */
#firstS {
    height: 183px;
}

#faceBlank {
    box-sizing : border-box;
    border: 1px solid gray;
    width: 150px;
    float: left;
    height: 183px;
}

#userInfo {
    float: left;
    height:183px;
    border: 1px solid gray;
    box-sizing: border-box;
    width: 651px;
    margin-left: -1px;
    overflow:hidden;
}

#essentialInfoList {
    width:25%;
    float: left;
    height: auto;
    background-color: #fceffa;
}

.essential_info {
    width:100%;
    border: 1px solid gray;
    margin-top: -1px;
    margin-left: -1px;
}

#essentialContentList {
    width:75%;
    float: left;
    height: auto;
}

.essential_content {
    width:100%;
    border: 1px solid gray;
    margin-top: -1px;
    margin-left: 0;
}

.essential_content ul {
    width: 100%;
    height: 100%;
}

.essential_content ul li {
    width: 33.33333333%;
    height: 100%;
    box-sizing: border-box;
    float: left;
}

.essential_content ul li:nth-child(2) {
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;
    background-color: #fceffa;
}



/* 모든 테이블에서 가지는 값 기본 정리!! */
.detail_main {
    width:100%;
    padding-left: 1px;
    background-color: #fceffa;
}

.detail_main div {
    float: left;
    border: 1px solid gray;
    margin-top: -1px;
    margin-left: -1px;
    line-height: 25px;
}

/* 모든 테이블의 연월일 박스 내용들!! */
.date_box {
    width: 152px;
    float: left;
    height: auto;
}

.data_name {
    width: 150px;
}

.school_name {
    width: 300px;
}

#schoolContentBox {
    width:300px;
    float: left;
    height: auto;
}

.school_content {
    width: 300px;
    border: 1px solid gray;
    margin-top: -1px;
    margin-left: -1px;
}

.graduated {
    width: 150px;
}

#graduatedContentBox {
    width: 150px;
    float: left;
    height: auto;
}

.graduated_content {
    width: 150px;
    border: 1px solid gray;
    margin-top: -1px;
}

.department {
    width: 195px;
}

#departmentContentBox {
    width: 195px;
    float: left;
    height: auto;
}

.department_content {
    width: 195px;
    border: 1px solid gray;
    margin-top: -1px; 
    margin-left: 1px;  
}


/* 날짜박스정리하기 */
.date {
    width: 150px;
    float: left;
    border: 1px solid gray;
    margin-top: -1px;
}

ul.date_list {
    display: block;
    height:25px;
}

.date_list li {
    display: block;
    float: left;
    height: 25px;
}

.year {
    width: 65px;
    border-right: 1px solid gray;
    
}

.month {
    width: 40px;
    border-right: 1px solid gray;
}

.day {width: 45px}

/* 위로올리자 여기 있을거 아니당~ */
.oneline_main {
    width: auto;
    height: 25px;
    line-height: 25px;
    border: 1px solid gray;
    box-sizing: border-box;
    margin-top: -1px;
    background-color: #fceffa;
}



#userInfo li {
    height: 25px;
    
}

/* thirdSection!! */
.company_name {
    width: 230px;
}

#companyContentBox {
    width: 230px;
    float: left;
    height: auto;
}
.company_content{
    width: 230px;
    border: 1px solid gray;
    margin-top: -1px;
    margin-left: -1px;
}

.division {
    width: 190px;
}
#divisionContentBox {
    width: 190px;
    float: left;
    height: auto;
}
.division_content {
    width: 190px;
    border: 1px solid gray;
    margin-top: -1px;
}

.position {
    width: 114px;
}

#positionContentBox {
    width: 114px;
    float: left;
    height: auto;
}
.position_content {
    width: 114px;
    border: 1px solid gray;
    margin-top: -1px;
    margin-left: 1px;
}

.hiredate {
    width: 110px;
}

#hiredateContentBox {
    width: 110px;
    float: left;
    height: auto;
    margin-left:1px;
}
.hiredate_content {
    width: 110px;
    border: 1px solid gray;
    margin-top: -1px;
    margin-left:1px;
}

/* fourthSection */

.certificate {
    width: 450px;
}

#certificateContentBox {
    width: 450px;
    float: left;
    height: auto;
}
.certificate_content {
    width: 450px;
    border: 1px solid gray;
    margin-top: -1px;
    margin-left: -1px;
}

.office_of_appointment {
    width: 196px;
}

#appointmentContentBox {
    width: 196px;
    float: left;
    height: auto;
}
.appointment_content {
    width: 196px;
    border: 1px solid gray;
    margin-top: -1px;
}