@charset "utf-8";


table {
    margin-top: -1px;
    border-collapse: collapse;
    width:100%;
}

th, td {
    width: 200px; height: 25px;
}

.lastTable{
    width: 100%;
}

th {
    background-color:#fceffa;
}

tr {
    width: 100%;
}

.date {
    width: 20%;
}
