@charset "utf-8";

/* --------- 공통 부분 --------- */
* {padding:0; margin:0;}
li {list-style-type: none;}
a {text-decoration: none;}
.button {
    width:126px; height:31px;
}


/* --------- header 부분 --------- */
#headwrap {
    width:100%; height:100px;
    background-color: #2f2f2f;
}

#headwrap #header {
    width: 1100px; height: 100px;
    background-color:#2f2f2f;
    position: relative;
    margin:0 auto;
}

/* --------- header logo 부분 --------- */
#headwrap #header #logo {
    width:200px; height:100px;
    position: absolute;
    left:100px; top:0;
}

/* --------- header menu 부분 --------- */
#headwrap #header #menu {
    width:439px; height:20px;
    position: absolute;
    right:100px; top:40px;

}


/* --------- content 부분 --------- */

/* --------- content1 부분 --------- */
#content1wrap {
    width:100%; height: 300px;
    background-color: #f1f1f1;
}

#content1wrap #content1 {
    width:1100px; height: 300px;
    background-color: #f1f1f1;
    position: relative;
    margin:0 auto;
}

#content1 #maindummy1 {
    width:321px; height:35px;
    position: absolute;
    left: 100px; top: 35px; 
}

#content1 #maindummy2 {
    width:355px; height:132px;
    position: absolute;
    left: 100px; top: 70px;
}

#content1 .button {
    position:absolute;
    left: 100px; top: 202px;
}

#content1 #mainpainting {
    width:527px; height:220px;
    position: absolute;
    right: 100px; top: 35px;

}

/* --------- content2 부분 --------- */
#content2wrap {
    width:100%; height:400px;
    background-color: white;
}

#content2wrap #content2 {
    width: 1100px; height: 400px;
    background-color: white;
    position: relative;
    margin:0 auto;
}

#content2 #heading {
    width:200px; height:36px;
    position: absolute;
    left: 100px; top: 24px;
}

#content2 .bundle {
    width: 280px; height: 340px;
    position: absolute;
}

#content2 .bundle .box {
    width:280px; height:200px;
}

#content2 .bundle .content_02 {
    width:280px; height:28px;
}

#content2 .bundle .content_03 {
    width:280px; height:56px;
}


#content2 .bundle#bundle1 {
    left: 100px; top:60px;
}

#content2 .bundle#bundle2 {
    left: 410px; top:60px;
}

#content2 .bundle#bundle3 {
    right: 100px; top:60px;
}


/* --------- footer 부분 --------- */

#footerwrap {
    width: 100%; height:250px;
    background-color: #2f2f2f;
}

#footer {
    width: 1100px; height:250px;
    background-color: #2f2f2f;
    position: relative;
    margin:0 auto;
}

/* --------- footer left 부분 --------- */
#footer #footer_left {
    width:267px; height:240px;
    position: absolute;
    left:100px; top: 10px;
}

#footer #footer_left #posts {
    width: 116px; height:24px;
    margin-bottom: 10px;
}

#footer #footer_left .date {
    width: 267px; height:50px;
    margin-bottom: 10px;
}

#footer #footer_left .date:last-child {
    margin-bottom: none;
}


/* --------- footer center 부분 --------- */
#footer #footer_center {
    width:338px; height: 240px;
    position: absolute;
    left: 420px; top: 10px;
}

#footer #footer_center #about {
    width:116px; height:24px;
    margin-bottom: 10px;
}

#footer #footer_center #aboutwriting {
    width:338px; height:115px;
}


/* --------- footer right 부분 --------- */
#footer #footer_right {
    width: 139px; height: 240px;
    position: absolute;
    right: 100px; top: 10px;
} 

#footer #footer_right #social {
    width: 134px; height: 24px;
    margin-bottom: 10px;
}

#footer #footer_right .biz {
    width: 139px; height: 26px;
    margin-bottom: 10px;
}

#footer #footer_right .biz:last-child {
    margin-bottom: none;
}
