@charset "utf-8";
/*reset*/
*{ margin: 0; padding: 0;}
ol, ul, li{ list-style: none;}
a{ outline: 0; text-decoration: none; color: #555;}
img{ vertical-align: top; border: 0;}

/* common*/
body{
    font: 12px/1.6 arial;
    color:  #555;
    
}


div{
    width: 300px;
    height: 300px;
    background: lightblue;
    float: left;
    margin: 50px;
    font-size: 60px;
    
    
}


div:nth-child(2){
    padding: 50px;
    border: 20px solid #555;
}

div:nth-child(3){
    padding:50px;
    border:20px solid #666;
    box-sizing : border-box;
}
