@charset "utf-8";
/*reset*/
*{ margin: 0; padding: 0;}
ol, ul, li{ list-style: none;}
a{ outline: 0; text-decoration: none; color: #555;}
img{ vertical-align: top; border: 0;}

/* common*/

 ul li{
    font-size: 20px;
    font-weight: bold;
}
ul li:nth-child(1){color: red;}
ul li:nth-child(2){color: blue;}
ul li:nth-child(3){color: green;}
ul li:nth-child(4){color: pink;}