@charset "utf-8";

#mainMerchandise {
    width: 1100px;
    height: 500px;
    /* background-color: #fafafa; */
    position: relative;
}

#mainMerchandiseImgBox {
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    border: 1px dotted gray;
    position: absolute;
    top: 50px;
    left: 100px;
    line-height: 400px; /* 이미지가 들어가면 속성을 지워줍니다.*/
}

#mainMerchandiseInfo  {
    width: 450px;
    height: 400px;
    box-sizing: border-box;
    position: absolute;
    top: 50px;
    right: 50px;
}

#merchandiseName {
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 20px;
}

#merchandiseIntro {
    width: 450px;
    height: 140px;
    line-height: 140px; /* 이미지가 들어가면 속성을 지워줍니다.*/
    border-radius: 5px;
    background-color: #f0f0f0;
}

input#merchandiseNum {
    width: 230px;
    height: 30px;
    display: block;
    margin: 20px 0;
}

button#merchandiseGetButton{
    width:450px;
    height:50px;
}

.outer_button{
    width:220px;
    background-color: rgb(94, 94, 94);
    color:white;
}