@charset "utf-8";

.main h1 {
    margin: 50px;
}


#basketList {
    width: 600px;
    height: 500px;
    margin: 0 auto;
}

div#allCheck {
    position: relative;
    height: 40px;
}

input#allCheckButton {
    height: 20px;
    width: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
}

#allCheck span {
    position: absolute;
    left: 40px;
    top: 11px;
}

.basket_item {
    width: 600px;
    height: 230px;
    box-sizing: border-box;
    padding: 10px;
}

#imgBox {
    width: 210px;
    height: 210px;
    box-sizing: border-box;
    border: 1px dotted gray;
    float:left;
    line-height: 210px;
}

#textBox {
    width: 360px;
    height: 210px;
    box-sizing: border-box;
    border: 1px solid gray;
    float:right;
}