@charset "utf-8";


*{margin: 0; padding: 0;}
ul,ol,li{list-style: none;}
a{ text-decoration: none; outline: none;}
img{vertical-align: top; border: 0;}

body{font-family: 'Times New Roman', Times, serif;}