<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.aci.mapper.fileMapper">


	<insert id="fileInsert" parameterType="java.util.HashMap">
	
	
	insert into file (orginFileName ,storedFileName, uploadPath) values (#{orginFileName},#{storedFileName},#{uploadPath})
	
	
	
	</insert>


	<select id="fileSelect" resultType="FileDTO" parameterType="java.lang.String">
	
		SELECT f.orginFileName,f.uploadPath FROM file f join board b on f.orginFileName = b.boardOriFileName where boardKind=04 AND f.orginFileName=#{orginFileName} 
		
	
	</select>


</mapper>