<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.aci.mapper.mailMapper">

	<insert id="emailSendInsertBeforeJoin" parameterType="EmailDTO">
	
			INSERT INTO email (mailFrom,mailTo,mailSubject,mailContent,emailName,sendDate,emailKey) 
			values(#{mailFrom},#{mailTo},#{mailSubject},#{mailContent},#{emailName},#{sendDate},#{emailKey})
		
	</insert>
	
	<update id="updateGetDate" parameterType="EmailDTO" >
	
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
    	   SELECT id FROM email where mailTo =#{mailTo} AND emailKey=#{emailKey}
	   	</selectKey>

	
			update email set getDate=#{getDate} where id=#{id} AND emailKey=#{emailKey} 
	
	</update>
	
	<select id="allPwdSendMember" resultType="String" parameterType="java.util.HashMap">
	
	
			SELECT m.joinPassword FROM member as m JOIN email as e ON m.id=e.id where m.joinName=#{name} AND m.joinId=#{id} AND m.joinEmail=#{email}
	
	</select>
	
	
</mapper>