<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.aci.mapper.memberMapper">

	<insert id="joinInsert" parameterType="JoinDTO">
	
		
	insert into 
	 member 
		(joinName, joinId , joinPassword , joinPasswordConfirm , joinBirthday , joinPhoneNumber , joinZipCode , joinAddress , joinAddressDetail , joinAddressAppendix , joinNewsletter , joinUseYN , joinEmail )
	values
		(#{joinName}, #{joinId}, #{joinPassword} , #{joinPasswordConfirm} , #{joinBirthday} , #{joinPhoneNumber} , #{joinZipCode} , #{joinAddress} , #{joinAddressDetail} , #{joinAddressAppendix} , #{joinNewsletter} , #{joinUseYN} , #{joinEmail}  )	
			
	
			
	</insert>


	<select id="loginSelect" resultType="JoinDTO" parameterType="java.util.HashMap">
	
	
	 SELECT * From member where joinId=#{id} AND joinPassword=#{pwd}  AND joinUseYN='Y'
	
	
	</select>
	
	<select id="myPageSelect" resultType="JoinDTO" parameterType="int">
	
	
	 SELECT joinName,joinId, joinBirthday, joinPhoneNumber,joinZipCode ,joinAddress ,joinAddressDetail ,joinAddressAppendix ,joinNewsletter ,
	 
	REGEXP_REPLACE(joinPassword,'[0-9]','*') as joinPassword , joinEmail   From member where id=#{id} 
	
	
	</select>
	
	<update id="myPageUpdate"  parameterType="JoinDTO">
	
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
    	   SELECT id FROM member where joinId=#{joinId} 
	   </selectKey>
		
		update member set
		
		<if test='joinUseYN =="Y"'>
		
		 joinPassword=#{joinPassword} , joinPasswordConfirm =#{joinPasswordConfirm} , joinBirthday=#{joinBirthday} , joinPhoneNumber =#{joinPhoneNumber} , joinZipCode =#{joinZipCode} , joinAddress =#{joinAddress} , joinAddressDetail =#{joinAddressDetail} , joinAddressAppendix =#{joinAddressAppendix} , joinNewsletter =#{joinNewsletter} , joinUseYN =#{joinUseYN} , joinEmail =#{joinEmail}
		
		</if>
	
		<if test='joinUseYN =="N"'>
		
		  joinUseYN=#{joinUseYN} 
	
		</if>
	
		<where>
		
			id=#{id}
		
		</where>
	
	</update>
	
	<select id="idPwdFind" resultType="JoinDTO" parameterType="java.util.HashMap">
	
		<if test='flag=="idFind"'>
	
			select joinId from member where joinName=#{name} AND joinEmail=#{email}  AND joinUseYN ='Y'
	
		</if>
	
		<if test='flag=="pwdFind"'>
	
			select REGEXP_REPLACE(joinPassword,'[0-9]','*') as joinPassword  from member where joinName=#{name} AND joinEmail=#{email} AND joinId=#{id} AND joinUseYN ='Y'
	
		</if>
	
		
	</select>
	

</mapper>