@charset "utf-8";

/* 공통 */
* {margin:0; padding:0; text-align: center;}
li {list-style: none;}
a {text-decoration: none;}

/* wrap 영역 */
#wrap {
    width:1000px;
    margin:0 auto;
    background-color:red;
}

/* ----------------- header 영역----------------- */
#header {
    width: 100%; height: 150px;
    background-color: #a2d087;
    margin-bottom: 10px;
    position:relative;

}
/* log 영역 */
#header > .log {
    width: 150px;
    height: 100px;
    float: left;
    background-color: darkorchid;
}
/* search 영역 */
#header > .search {
    width:600px;
    height:50px;
    position:absolute;
    left: 180px; top:50px;
    background-color: deepskyblue;
}
/* Inb 영역 */
#header > .lnb {
    width:190px;
    height:20px;
    position: absolute;
    right:0; top:50px;
    background-color: darkturquoise;
}
/* gnb 영역 */
#header > .gnb {
    width:100%;
    height: 20px;
    background-color: palegoldenrod;
    position: absolute;
    left:0; top:130px;
}


/* ----------------- content 영역 ----------------- */
#content {
    width:100%;
    position:relative;
    height:500px;
    background-color: darkslategray;

}
/* left_col 영역 */
#content > #left_col {
    width:200px; height:500px;
    background-color:blue;
    position:absolute;
    left:0; top:0;
}
/* right_col 영역 */
#content > #right_col {
    width:750px; height:500px;
    background-color: rosybrown;
    position:absolute;
    right:0; top:0;
}

/* ----------------- footer 영역 -----------------  */
#footer {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    background-color: darkcyan;
}