@charset "utf-8";

/* reset */
* { margin: 0; padding: 0; }
ol,ul,li { list-style: none; }
a { text-decoration: none; outline: none; }
img { vertical-align: top; border: 0; }


#wrap {
    width: 700px; height: 600px;
    background-color: blanchedalmond;
    margin: 0 auto;
}
#wrap > #title {
    padding: 30px 0;
    text-align: center;
}
#wrap > table {
    width: 100%;
    border: 1px solid black;
}
table td {
    height: 50px;
    border: 1px solid black;
    font-size: 25px;
    text-align: center;
}
