@charset "utf-8";
*{margin: 0; padding: 0;}
li{list-style-type: none;}
a{text-decoration: none;}
/*메일제목 :25기 서홍익 회원가입
첨부파일
    -25기_서홍익_회원가입.pptx
    -Project01.zip*/
    


/*전체 wrap*/
#wrap{
    margin : 0 auto;
    background-color: yellow;
    width: 385px ;
    height: 1200px;
    
}
/*콘텐츠 박스*/
#wrap > #container{
    margin: 0 auto;
    background-color: tomato;
    width: 355px;
    height: 1200px;
}
/*header*/
#wrap > #container > #header{
    background-color: turquoise;
    width: 355px;
    height: 36px;
    padding: 60px 0px 20px 0px;
    
}
#wrap > #container > #header> #H{
    position: absolute;
    width: 355px;
    height: 36px;
    font-style: 30px;
    font-weight: bold;
    font-size: 30px;
}
/*content*/
#formBox{
    background-color: blue;
    width: 355px;
    height: 536px;

}
/*공통 속성*/
#formBox .user{
    background-color: violet;
    width: 335px;
    height: 46px;
    border: 1px solid red;
    padding: 2px 9px 0px 9px;
    margin-top: 5px;
}



/*id*/
#formBox .nFormLable1{
    background-color: white;
    width: 46.89px;
    height: 21px;
    margin-bottom: 5px;
    line-height: 1.5;
    vertical-align: middle;
 
    
}
#formBox > #idBox{
    background-color: green;
    width: 355px;
    height: 101px;
    
}
/*아이디 경고창*/
#formBox #idBox .idValidation{
    background-color: salmon;
    width: 355px;
    height: 18px;
    margin-top: 7px;
    color: red;
    font-size: 12px;
    line-height: 15;
    /*display: none;*/
  
    
}


/*pwd*/
#formBox > #pwdWrap{
    background-color: darkgray;
    width: 355px;
    height: 208px;
    line-height: 1.5;
    position: relative;
   
}

#formBox > #pwdWrap > #pwdBox{
    position: absolute;
    left :0px;   top:5px;

}



#formBox > #pwdWrap > #pwdBox > .nFormLable2{
    background-color: white;
    width: 60.89px;
    height: 21px;
    line-height: 1.5;
    margin: 16px 0px 5px;
    
}

/*pwd 경고창*/
#formBox > #pwdWrap > #pwdBox > .pwdValidation{
    background-color: salmon;
    width: 355px;
    height: 18px;
    margin-top: 7px;
    color: red;
    font-size: 12px;
    line-height: 1.5;
}

/*pwd확인 경고창*/
#formBox > #pwdWrap > #pwdBox > .pwdConfirm{
    background-color: salmon;
    width: 355px;
    height: 18px;
    margin-top: 7px;
    color: red;
    font-size: 12px;
    line-height: 1.5;
}


/*email*/

#formBox > #emailWrap{
    background-color: beige;
    width: 355px;
    height: 117px;
    line-height: 1.5;
   
   
}

#formBox > #emilWrap > #emilBox{
    
    left :0px;   top:5px;

}

#formBox > #emailWrap >#emailBox > .nFormLable4{
    background-color: white;
    width: 46.89px;
    height: 21px;
    margin-bottom: 5px;
    line-height: 1.5;
    vertical-align: middle;
}



/*이메일 경고창*/
#formBox > #emailWrap > #emailBox > .emailValidation{
    background-color: salmon;
    width: 355px;
    height: 18px;
    margin-top: 7px;
    color: red;
    font-size: 12px;
    line-height: 1.5;
    /*display: none;*/
}

/*추천인*/

#formBox > #rcWrap{
    background-color: rebeccapurple;
    width: 355px;
    height: 117px;
    line-height: 1.5;

   
}


#formBox > #rcWrap >#rcBox > .nFormLable5{
    background-color: white;
    width: 79.33px;
    height: 21px;
    margin-bottom: 5px;
    line-height: 1.5;
    vertical-align: middle;
}

 /*추천인 경고창*/
#formBox> #rcWrap > .rcBox  >.rcValidation{
    background-color: salmon;
    width: 355px;
    height: 18px;
    margin-top: 7px;
    color: red;
    font-size: 12px;
    line-height: 1.5;
    /*display: none;*/
}   


