@charset "utf-8";

/* reset */
* {margin:0; padding:0;}
ol, ul, li {list-style: none;}
a {text-decoration: none; outline:none;}
img {vertical-align:top; border:0;}

/* common */
body {
    background-image: url("../images/bg.png");
}