@charset "utf-8";

/* reset */
* {padding:0; margin:0;}
li {list-style-type: none;}
a {outline:0; text-decoration: none; color:#555;}
img {vertical-align:top; border:0;}

/* common */

body {font:12px/1.6 arial; color:black;}

div.header {
    height:100px;
    background-color:rosybrown;
}

.headerWrap {
    height: 100px;
    width: 1000px;
    background-color:cadetblue;
    text-align:center;
    margin:0 auto;
    position:relative;
}

ul {
    position:absolute;
    display:table;
    top:50px;
    left: 600px;
}

li {

    height:20px; line-height:20px;
    width:30px;
    display:table-cell;
    padding:0 10px;
    background-color:thistle;
    position:relative;
}

li::before {
    display:block;
    content:"";
    height:10px;
    border-right: 1px solid black;
    position:absolute;
    top:5px; left:0;
}