@charset "uft-8";

/* main */

h1.logo {
    width:1000px; height:60px;
    margin:0 auto;
    line-height:60px;
    font-size:20px;
    padding:0 10px;
}

section.main {
    border-top: 1px solid #ddd;
    height:450px;
    text-align:center;
    position:relative;
    overflow:hidden;
    /* 벤더 프리픽스 -> 크로스 브라우징을 위해 */
    background: -webkit-linear-gradient(top, #fff 70%, #d6d6d6 100%);
    background: linear-gradient(top, #fff 70%, #d6d6d6 100%);
}

h2 {
    font-weight:normal;
    margin:40px 0 10px;
    position: relative;
    opacity:0;
    animation: htag 1s linear 3s;
    animation-fill-mode: forwards;
}

p {
    font-size:12px;
    position:relative;
    opacity:0;
    animation: ptag 1s linear 5s;
    animation-fill-mode: forwards;
}

img.device {
    position:absolute;
    bottom:0;
    left:50%;
    margin-left:-300px;
    animation:device 2s linear;
}

@keyframes device {
    0% {opacity:0; bottom:-100px;}
    100% {opacity:1; bottom:0;}
}

@keyframes htag {
    0% {opacity:0; top:-40px;}
    100% {opacity:1; top:0;}
}

@keyframes ptag {
    0% {opacity:0; left: -40px;}
    100% {opacity:1; left: 0;}
}
