@charset "utf-8";

/* header */
#main_header {
    height:45px;
    background:url("../images/header_background.png");
    position:relative;
    text-align:center;
    line-height:45px;
}

#main_header > h1 {color:white;}
#main_header a, #main_header label {
    display: block;
    height:32px;
    position: absolute;
}

#main_header > a.left {
    width:64px;
    position: absolute;
    left:5px; top:7px;
}
#main_header > label.right {
    width:32px;
    position: absolute;
    right:5px; top:7px;

}

/* IR 기법(Image Replacement) */

  #main_header > a.left {
    background:url("../images/sprites.png");
    background-position: 0 0;
    text-indent:-9999px;


}
#main_header > label.right {
    background:url("../images/sprites.png");
    background-position:-62px 0;
    text-indent:-9999px;
}

/* toggle button */

#toggle {display:none;}
#toggle + #wrap > #toggle_gnb_wrap {
    display:none;
}

#toggle:checked + #wrap > #toggle_gnb_wrap {
    display:block;
}

#toggle_gnb_wrap {
    background:#363636;
    padding:15px;
}

#toggle_gnb_wrap #toggle_gnb {
    background:#fff;
    padding:5px;
}

#toggle_gnb > ul {overflow:hidden;}
#toggle_gnb > ul > li {
    width:80px;
    float:left;
}

/* top_gnb */
#top_gnb {
    border-bottom:1px solid black;
    background:#b42111;
    overflow:hidden;
}

#top_gnb > div > a {
    display:block;
    float:left;
    width:25%; height:35px;
    line-height: 35px;
    text-align:center;
    color: white;
}

/* bottom_gnb */

#bottom_gnb {
    display:table;
    width:100%;
    border-bottom:1px solid #b42111;
}

#bottom_gnb > div {
    display:table-cell;
    position:relative;
}

#bottom_gnb > div > a {
    display:block;
    height:35px;
    line-height:35px;
    text-align:center;
}

#bottom_gnb > div > a::before {
    content:"";
    display:block;
    position:absolute;
    left:-1px; top:10px;
    height:15px;
    border-left:1px solid black;
}

/* 본문 */

#main_section > #section_header {padding:20px;}
#main_section > #section_article {padding:10px;}

/* 푸터 */
#main_footer {
    padding:10px;
    border-top:3px solid black;
    text-align:center;
}