@charset "utf-8";

/* header */
#mainHeader {
    height: 45px; width:1000px;
    background:url("../images/header_background.png");
    position:relative;
    text-align:center;
    line-height:45px;
    margin: 0 auto;
}

#mainHeader a, #mainHeader label {
    display: block;
    height:32px;
    position: absolute;
}

#mainHeader > a.left {
    width:64px;
    left:5px; top:7px;
}

#mainHeader > label.right {
    width:32px;
    right:5px; top:7px;
}

#mainHeader > h1 {
    color:white;
}

/* IR 기법(Image Replacement */

#mainHeader > a.left {
    background:url("../images/sprites.png");
    background-position:0 0;
    text-indent: -9999px;
}

#mainHeader > label.right {
    background:url("../images/sprites.png");
    background-position: -62px 0;
    text-indent: -9999px;
}

/* toggle button */
#toggle {display:none;}
#toggle + #wrap > #toggleGnbWrap {
    display:none;
}

#toggle:checked + #wrap > #toggleGnbWrap {
    display:block;
}

div#toggleGnbWrap {
    width:1000px;
    margin: 0 auto;
    background:#363636;
    padding:15px;
    box-sizing: border-box;
}

#toggleGnbWrap #toggleGnb {
    background:#fff;
    padding:5px;
}

#toggleGnb > ul {
    overflow:hidden;
    display:table;
    text-align: center;
}
#toggleGnb > ul > li {
    width:125px;
    display:table-cell;
}

/* top_gnb */

#topGnb {
    border-bottom: 1px solid black;
    background-color: powderblue;
    overflow:hidden;
    width: 1000px;
    margin:0 auto;
}

#topGnb > div > a {
    display:block;
    float: left;
    width:25%; height:35px;
    line-height:35px;
    text-align: center;
    color:white;
}

/* bottom_gnb */

#bottomGnb {
    display:table;
    width:1000px;
    border-bottom: 1px solid blue;
    margin:0 auto;
}

#bottomGnb > div {
    display:table-cell;
    position:relative;
}

#bottomGnb > div > a {
    display:block;
    height:35px;
    line-height:35px;
    text-align: center;
}

#bottomGnb > div > a::before {
    display:block;
    content:"";
    height:15px;
    position:absolute;
    top:10px; left:0;
    border-left: 1px solid blue;
}

#bottomGnb > div:first-child > a::before {
    border-left: none;
}

/* main */

#mainSection > #sectionHeader {
    padding: 20px;
    width:1000px;
    margin:0 auto;
}

#mainSection > #sectionArticle {
    width:1000px; 
    margin: 0 auto;
}

#mainSection > #sectionArticle > p {
    padding:10px;
    border: 1px solid rebeccapurple;
}

/* footer */
#mainFooter {
    width:1000px;
    margin: 0 auto;
    padding:10px;
    border-top:3px solid black;
    text-align:center;
}