


/*약관동의서 해드*/

h1#logo{
    
    background-color: black;
    text-align: center;
    
}

h1#logo img{
    width: 240px;
    height: 44px;
    box-sizing: border-box;
    margin-top: 62px;
    margin-bottom: 59px;
    
  
    
}












/*약관동의서 영역*/
#conditionsWrap{
    
    width: 460px;
    height: 543px;
    margin: 0 auto;
  
    
    
}
/*약관동의서 */

ul#conditionsWrap > li.itemBox{
    width: 426px;
    height: 148px;
    box-sizing: border-box;
    padding-top: 30px;
}


ul#conditionsWrap>li:nth-child(1){
    padding: unset;
    width: 460px;
    height: 42px;
    margin-top: 20px;
    
}



ul#conditionsWrap>li:last-child{
    padding-bottom: unset;
    width: 460px;
    height: 52px;
   /* margin-bottom: 25px;*/
    
    
}


/*폰트*/

label{
   
    font-size: 14px;
    font-weight: 700;


}

label#acceptAll{
    text-decoration: underline;
}




/*창*/
ul#conditionsWrap div.spec{
    width: 460px;
    height: 88px;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid gray;
    background: black;
    margin-top: 8px;
    color: white;
    overflow: auto;
    font-size: 12px;
    line-height: 1.6;
    
}







/*버튼 영역*/

ul#btnWrap{
    width: 470px;
    height: 61px;
    margin: 0px auto;
    
}

ul#btnWrap > #leftBtn{
    width: 50%;
    float: left;
    background-color:brown;
    margin-top: 10px;
}

ul#btnWrap > #rightBtn{
    width: 50%;
   float: right;
    background-color: black;
    margin-top: 10px;
    
}

ul#btnWrap a{
    
    
    display: block;
    padding: 21px 0 17px;
    
    color: white;
    font-size: 20px;
    line-height: 23px;
    margin: 0px 5px;
    text-align: center;
    font-weight: 700;
    background-color: unset;
    border: unset;

}




/*푸터*/

div#footerWrap{
    width: 100%;
    height: 100px;
    margin-top: 25px;
  
    background-color: black;
    
    
    
}

div#footerWrap > ul#footerBox{
    width: 325px;
    height: 83px;
  
    padding-left: 3px;
    padding-top: 40px;
    padding-bottom: 15px;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: black;

}
 


ul#footerBox li{

    display: inline;
    color: white;
    border-left: 1px solid white;
    margin: 0 auto;

}


ul#footerBox li:first-of-type{

    display: inline;
    color: white;
    border-left: 1px solid black;
    margin: 0 auto;

}




div#footerWrap a{
 
    font-size: 12px;
    
    padding-left: 4px;
    
}

div#footerWrap > p{
    font-size: 8px;
    font-weight: normal;
    line-height: 1.2;
    color: white;
    text-align: center;

}

/*체크박스 모양 바꾸기*/
input[type="checkbox"] {
	display: none;
}




input[type=checkbox] + label { 
    display: inline-block; 
    cursor: pointer; 
   
    padding-left: 20px; 
    background: url('../images/check01_off.png')  no-repeat; }
    
    

input[type=checkbox]:checked + label { background-image: url('../images/check01_on.png'); }


