/*reset*/
@charset "utf-8";

*{ margin: 0; padding:0;}
ul, ol, li{list-style-type: none;}
a{text-decoration: none;}
img{vertical-align: top; border: 0;}


/*common*/
body{
    font:12px/1.6; 
    font-family: "helvetica","apple sd gothic neo","Roboto","Noto Sans","Gulim",sans-serif;}


