


 #wrap{
    
    width: 355px; 
    height: 2000px;
    margin: 0 auto;
  
    padding: 0px 15px 100px 15px;
    background-color: beige;
 
    
}



/*헤더*/
#caption{
    width: 355px;
    height: 36px;
 
    padding-top: 60px;
    padding-bottom: 20px;
    
   /* background-color: sandybrown;*/
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    font:12px/1.6;
    
}





/*아이디*/    
#contentWrap #idWrap{
    width: 355px;
    height: 101px;  
   /* background-color: aqua;*/  

}


#contentWrap .idCaptionSpace{
    display: inline-block;
    width: 45.810px;
    height: 20.909x;
    margin-bottom: 5px;
    font-size: 14px;

}

#contentWrap .idValidation{ 
   
    font-size: 12px;
    color: #ff0000;
    width: 355px;
    height: 18px;
    margin-top: 7px;
    line-height: 1.5;
    margin-top:7px ;
   /* display: none; */
}
#contentWrap .userId{
    border: 1px;
    width: 335px;
    height: 50px;
    padding: 2px 9px 0px 9px;
    border-style: unset;
   
}
    
    
/*패스워드*/

#contentWrap #pwdWrap{ 
    width: 355px;
    height: 208px;
   /* background-color: chartreuse;*/

    
   
}
#contentWrap .pwdCaptionSpace{
    display: inline-block;
    width: 59.406px;
    height: 17.909px;
    margin-top: 16px;
    margin-bottom: 5px;
    font-size: 14px;
}

    



#contentWrap .userPwd{
 
    border: 1px;
    width: 355px;
    height: 50px;
    padding: 2px 9px 0px 9px;
    box-sizing: border-box;
    border-style:unset;
}

#contentWrap .userPwdC{
    border: 1px;
    width: 355px;
    height: 50px;
    padding: 2px 9px 0px 9px;
    box-sizing: border-box;
    border-style:unset;
    margin-top: 16px;
    
}


#contentWrap .pwdValidation{ 
    
    font-size: 12px;
    color: #ff0000;
    width: 355px;
    height: 18px;
    margin-top: 7px;
    line-height: 1.5;
   /* display: none;*/
}

#contentWrap .pwdConfirm{ 
    
    font-size: 12px;
    color: #ff0000;
    width: 355px;
    height: 18px;
    margin-top: 7px;
    line-height: 1.5;
  /*  display: none;*/
}


/*이메일*/

#contentWrap #emailWrap{ 
    width: 355px;
    height: 117px;
    /*background-color: violet;*/

  
}

#contentWrap .emailSpace{
    display: inline-block;
    width: 355px;
    height: 21px;
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 5px;
   
}
#contentWrap .userEmail{
    border: 1px;
    width: 355px;
    height: 50px;
    padding: 2px 9px 0px 9px;
    box-sizing: border-box;
    border-style:unset;
    
    
    
}
#contentWrap .emailValidation{ 
    
    font-size: 12px;
    color: #ff0000;
    width: 355px;
    height: 18px;
    margin-top: 7px;
    line-height: 1.5;
   /* display: none;*/
}


/*추천인*/


#contentWrap #recomWrap{ 
    width: 355px;
    height: 126px;
    /*background-color: yellow;*/
    
  
}

#contentWrap .recomSpace{
    display: inline-block;
    width: 355px;
    height: 21px;
    margin-top: 16px;
    margin-bottom: 5px;
    font-size: 14px;
   
}
#contentWrap .userRc{
    border: 1px;
    width: 355px;
    height: 50px;
    padding: 2px 9px 0px 9px;
    box-sizing: border-box;
    border-style:unset;
    
    
}


#recomWrap {
   
    width: 355px;
    height: 50px;
   
    
   
    position: relative;
}


#recomWrap > .rcBtn{
    width: 97px;
    height: 30px;
    box-sizing: border-box;
    padding: 5px 4px 4px 4px;
    line-height: 21px;
    text-align: center;
    /*background-color: #f1f1f1;*/
    border-radius: 2px;
    position: absolute;
    right: 9px;
    top: 52px;
    border-style: unset;    
}



.infor{
    font: black;
    font-size: 12px;
    line-height: 1.5;
    margin: 16px 0 10px 0;

}


/*약관 동의*/

#conditions{
    
    width: 355px;
    height: 205px;
    padding: 10px 0;
   /* background-color: yellowgreen;*/
    
}

#allWrap{

    width: 355px;
    height: 21px;
    margin-top: 20px;
}

#privacyWrap{
    width: 355px;
    height: 21px;
    margin-top: 20px;
}



p.privacyLook{
    
    display: block;
    font-size: 12px;
    color: #777777;
    text-decoration: underline;
    float: right;
    margin-top: 1px;
    text-decoration: underline;
}


#storeWrap{
    width: 355px;
    height: 21px;
    margin-top: 20px;
}



p.storeLook{
    
    display: block;
    font-size: 12px;
    color: #777777;
    text-decoration: underline;
    float: right;
    margin-top: 1px;
    text-decoration: underline;
}


#SMSWrap{
    width: 355px;
    height: 21px;
    margin-top: 20px;
}



p.SMSLook{
    
    display: block;
    font-size: 12px;
    color: #777777;
    text-decoration: underline;
    float: right;
    margin-top: 1px;
    text-decoration: underline;
}

#ageWrap{
    width: 355px;
    height: 21px;
    margin-top: 20px;
}



/*가입버튼*/

#joinBtnWrap{
    width: 355px;
    height: 50px;
    padding: 10px 0px;
    margin-top: 40px;
   /* background-color: lavender;*/
}

#textBtn{
    width: 100%;
    height: 47px;
    border: 1px solid black;
    padding: 1px 10px 0px 10px;
    float: right;
    
}