#wrap{


    width: 1800px;
    height: auto;
    margin: 0 auto;
    
   
}

/*헤더*/

#header{

    width: 150%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 51;
    background: black;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 62px;
    padding: 50px;
    

}

div#info{


    float: left;

}

div#info::after{

    content: '';
    display: block;
    clear: both;
}

img#logo{

    width: 135px;
    height: 65px;
    border: 1px solid black;
    margin-left: 20px;
}



#search::after{

    content: "";
    display: block;
    clear: both;
}

input#searchBox{


    width: 200px;
    height: 30px;

}

span#recom{


    box-sizing: border-box;
    padding: 0 10px 0 10px;
    

}


/*콘텐츠*/

div#content{

    width: 90%;
    height: 1800px;
    box-sizing: border-box;
    padding: 180px 78px 0px 17px;

}


div.not_already_read{


    width: 100%;
    height: 600px;
    margin-top: 10px;


}

div.not_already_read_detail{


    width: 215px;
    height: 260px;
    display: inline-block;
    box-sizing: border-box;
    margin: 80px;


}

div.colorBox{

    width: 215px;
    background-color: black;
    
    
}


img.not_already_read_img{


    width: 100%;
    height: 100%;

}


h1{

    font-size: 20px;
}




div.not_already_read_detail p:not(.color){
    overflow: hidden;
    letter-spacing: -0.3px;
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    color: wheat;
   
}

p.color{

    color: skyblue;
    margin-bottom: 5px;

}

footer{

    width: 150%;
    height: 162px;
    background-color: black;

}