@charset "utf-8";

/* 전체 영역 */
* {margin:0; padding:0;}
li {list-style:none;}
a {text-decoration: none;}

.float_box {
    background-color: #ccc;
    width:800px;
    overflow:hidden;
    margin:0 auto;
}

.float_box div {
    width:200px; height:200px;
    float:left;
}

.float_box div.box01 {background-color: #92c32a;}
.float_box div.box02 {background-color: #e63b67;}
.float_box div.box03 {background-color: #1c8fd1;}
.float_box div.box04 {background-color: #ff7612;}